services:
  - type: web
    name: gd-financial-services
    env: static
    buildCommand: npm install && npm run build
    publishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html